ul.nav{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#28112B;
}
li.nav {
  float:right;
}
li.nav a {}
body{
  background:-color: #28112B 
}
h1 {
  font-family: "Garamond", serif;
  font-size: 2em;
  text-align:center;
  color: pink;
  padding: 14px 16px;
  display:inline-block
}
